{% extends "main/base.html" %}
{% block title %}
Home
{% endblock %}
{% block home %}




<!-- HEADER -->

<header class="position-relative" id="jumbotron">
  <div class="container py-5 d-flex flex-column flex-lg-row align-items-center justify-content-between h-100 ">
    <!-- Text Section -->
    <div class="text-center text-lg-start">
      <h1 class="display-3 fw-bold mb-3 gradient-text">Sistem Pemetaan Fasilitas Umum Semarang</h1>
      <p class="lead mb-4">
        Dapatkan informasi terkini tentang fasilitas umum di Semarang, termasuk lokasi, layanan,
        dan aksesibilitas untuk kebutuhan Anda.
      </p>
      <style>

      </style>

      <!-- Search Bar Section -->
      <!-- Search Bar Section -->
      <div class="d-flex gap-3 mb-4">
        <div class="input-group input-group-lg justify-content-center justify-content-lg-start">
          <div class="input-group-prepend">
            <select id="category-select" class="form-control">
              <option value="">Pilih Kategori</option>
              <option value="Fasilitas%20Kesehatan">Fasilitas Kesehatan</option>
              <option value="Fasilitas%20Pendidikan">Fasilitas Pendidikan</option>
              <option value="Fasilitas%20Transportasi">Fasilitas Transportasi</option>
              <option value="Fasilitas%20Keamanan">Fasilitas Keamanan</option>
              <option value="Fasilitas%20Pelayanan%20Umum">Fasilitas Pelayanan Umum</option>
              <option value="Fasilitas%20Hiburan">Fasilitas Hiburan</option>
            </select>

          </div>
          <div class="input-group-append">
            <button id="search-button" class="btn btn-primary px-4 shadow">Cari</button>
          </div>
        </div>
      </div>

    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const categorySelect = document.getElementById("category-select");
        const searchButton = document.getElementById("search-button");

        searchButton.addEventListener("click", function () {
          const selectedCategory = categorySelect.value;

          if (selectedCategory) {
            // Arahkan ke halaman berdasarkan kategori
            window.location.href = `/location/${selectedCategory}`;
          } else {
            // Jika tidak ada kategori dipilih, beri peringatan
            alert("Silakan pilih kategori terlebih dahulu!");
          }
        });
      });

    </script>
    <!-- Image Section (Added to balance the layout) -->
    <div class="d-none d-lg-block">
      <img src="{{ url_for('static', filename='images/img1.png') }}" alt="Fasilitas Umum"
        class="img-fluid floating-img" />
    </div>
  </div>

  <!-- Wave SVG -->
  <div class="position-absolute bottom-0 start-0 w-100">
    <svg class="w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z"
        fill="white"></path>
    </svg>
  </div>
</header>
<!-- END HEADER -->


<!-- SECTION PREVIEW MAP -->

<section class="container" style="margin-bottom: 40px;" id="JUTAN">
  <div class="text-center" style="margin: 20px 0px 20px 0px;">
    <h1>
      <span class="orange-text">Petunjuk Pemetaan <span class="blue-text">Fasilitas</span></span>
      <br>
      <span class="blue-text">Umum Semarang</span>
    </h1>

  </div>
  <div class="row">
    <!-- Bagian Peta -->
    <div class="col-md-6">
      <div id="map-container" class="d-flex justify-content-center">
        <iframe src="{{ url_for('static', filename='preview/preview_map.html') }}" width="90%" height="480"
          style="border: none; border-radius: 10px;">
        </iframe>
      </div>
    </div>


    <!-- Bagian Kartu -->
    <div class="col-md-6">
      <div class="row row-cols-1 row-cols-md-3 g-3">



        <!-- Card 1 -->
        {% for category, count in category_data.items() %}
        <div class="col">
          <div class="card shadow-sm" style="width: 200; height: 230px;">
            <div class="card-body text-center d-flex flex-column justify-content-center">

              <div class="icon mb-3">
                {% if category == "Fasilitas Kesehatan" %}
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#d52d03"
                  class="bi bi-hospital-fill" viewBox="0 0 16 16">
                  <path
                    d="M6 0a1 1 0 0 0-1 1v1a1 1 0 0 0-1 1v4H1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h6v-2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V16h6a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1h-3V3a1 1 0 0 0-1-1V1a1 1 0 0 0-1-1zm2.5 5.034v1.1l.953-.55.5.867L9 7l.953.55-.5.866-.953-.55v1.1h-1v-1.1l-.953.55-.5-.866L7 7l-.953-.55.5-.866.953.55v-1.1zM2.25 9h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5A.25.25 0 0 1 2 9.75v-.5A.25.25 0 0 1 2.25 9m0 2h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5a.25.25 0 0 1 .25-.25M2 13.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25zM13.25 9h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5a.25.25 0 0 1 .25-.25M13 11.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25zm.25 1.75h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5a.25.25 0 0 1 .25-.25" />
                </svg>
                {% elif category == "Fasilitas Pendidikan" %}
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#26416c" class="bi bi-book-fill"
                  viewBox="0 0 16 16">
                  <path
                    d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
                </svg>
                {% elif category == "Fasilitas Transportasi" %}
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#2ad587" class="bi bi-bus-front"
                  viewBox="0 0 16 16">
                  <path
                    d="M5 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0m8 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-6-1a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2zm1-6c-1.876 0-3.426.109-4.552.226A.5.5 0 0 0 3 4.723v3.554a.5.5 0 0 0 .448.497C4.574 8.891 6.124 9 8 9s3.426-.109 4.552-.226A.5.5 0 0 0 13 8.277V4.723a.5.5 0 0 0-.448-.497A44 44 0 0 0 8 4m0-1c-1.837 0-3.353.107-4.448.22a.5.5 0 1 1-.104-.994A44 44 0 0 1 8 2c1.876 0 3.426.109 4.552.226a.5.5 0 1 1-.104.994A43 43 0 0 0 8 3" />
                  <path
                    d="M15 8a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1V2.64c0-1.188-.845-2.232-2.064-2.372A44 44 0 0 0 8 0C5.9 0 4.208.136 3.064.268 1.845.408 1 1.452 1 2.64V4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v3.5c0 .818.393 1.544 1 2v2a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5V14h6v1.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-2c.607-.456 1-1.182 1-2zM8 1c2.056 0 3.71.134 4.822.261.676.078 1.178.66 1.178 1.379v8.86a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 11.5V2.64c0-.72.502-1.301 1.178-1.379A43 43 0 0 1 8 1" />
                </svg>
                {% elif category == "Fasilitas Keamanan" %}
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#671e8f"
                  class="bi bi-shield-lock-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.8 11.8 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7 7 0 0 0 1.048-.625 11.8 11.8 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.54 1.54 0 0 0-1.044-1.263 63 63 0 0 0-2.887-.87C9.843.266 8.69 0 8 0m0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5" />
                </svg>
                {% elif category == "Fasilitas Administrasi Publik" %}
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#f28908"
                  class="bi bi-building-fill" viewBox="0 0 16 16">
                  <path
                    d="M3 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3v-3.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V16h3a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zm1 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5M4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM7.5 5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5m2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM4.5 8h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5m2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5" />
                </svg>
                {% elif category == "Fasilitas Hiburan" %}
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#5f9ea0"
                  class="bi bi-ticket-perforated-fill" viewBox="0 0 16 16">
                  <path
                    d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zm4-1v1h1v-1zm1 3v-1H4v1zm7 0v-1h-1v1zm-1-2h1v-1h-1zm-6 3H4v1h1zm7 1v-1h-1v1zm-7 1H4v1h1zm7 1v-1h-1v1zm-8 1v1h1v-1zm7 1h1v-1h-1z" />
                </svg>
                {% endif %}

              </div>
              <h3>{{ category }}</h3>
              <h3>{{ count }}</h3>
            </div>
          </div>
        </div>

        {% endfor %}




      </div>
    </div>
  </div>
</section>

<!-- END SECTION PREVIEW MAP -->


<!-- SECTION FAQ -->

<section class="faq-section py-5" id="FAQ">
  <div class="container flex-column">

    <div class="row align-items-center">

      <div class="col-lg-6">
        <h2 class="mb-5"><span class="blue-text">Frequently Asked Questions</span><span class="orange-text">(FAQ)</span>
        </h2>
        <div class="accordion" id="faqAccordion">
          <!-- Pertanyaan 1 -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Apa itu Pemetaan Fasilitas Publik Semarang?
              </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
              data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Pemetaan Fasilitas Publik Semarang adalah sebuah platform online yang menyediakan informasi terperinci
                mengenai berbagai fasilitas publik yang tersedia di kota Semarang. Ini termasuk rumah sakit, sekolah,
                taman,
                stasiun, dan lain-lain.
              </div>
            </div>
          </div>

          <!-- Pertanyaan 2 -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Bagaimana cara menggunakan situs ini?
              </button>
            </h3>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Anda bisa menggunakan fitur pencarian untuk menemukan fasilitas publik tertentu atau menjelajahi peta
                interaktif untuk melihat lokasi-lokasi fasilitas publik di Semarang. Dropdown kategori juga tersedia
                untuk
                mempermudah pencarian.
              </div>
            </div>
          </div>

          <!-- Pertanyaan 3 -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Apakah data yang ditampilkan di situs ini akurat dan terbaru?
              </button>
            </h3>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Kami berusaha untuk memastikan bahwa semua data yang ditampilkan di situs ini adalah akurat dan selalu
                diperbarui. Namun, jika Anda menemukan ketidakakuratan, silakan laporkan kepada kami melalui formulir
                kontak.
              </div>
            </div>
          </div>

          <!-- Pertanyaan 4 -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Bagaimana cara menambahkan fasilitas publik baru ke peta?
              </button>
            </h3>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Jika Anda ingin menambahkan fasilitas publik baru yang belum terdaftar, silakan gunakan formulir
                penambahan
                fasilitas yang tersedia di situs kami. Setelah diverifikasi, fasilitas tersebut akan ditambahkan ke
                peta.
              </div>
            </div>
          </div>

          <!-- Pertanyaan 5 -->
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Apakah saya perlu membuat akun untuk menggunakan situs ini?
              </button>
            </h3>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
              data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Tidak, Anda tidak perlu membuat akun untuk menggunakan situs ini. Semua informasi tersedia untuk umum
                tanpa
                perlu mendaftar.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <img src="{{ url_for('static', filename='images/faq.png') }}" alt="FAQ Illustration" class="img-fluid mb-4">
      </div>


    </div>
  </div>
</section>


<!-- END SECTION FAQ -->


<!-- SECTION STATISTIC -->
<section>
  <div class="container text-center mt-5">
    <h1 class="header-title">
      <span class="orange-text">Pemetaan <span class="blue-text">Fasilitas Umum </span></span>
      <br>
      <span class="blue-text">Semarang</span>
    </h1>
    <p class="statistik mt-4">Statistik Fasilitas</p>
    <p class="count">{{total_places}}</p>
  </div>
</section>
<!-- END SECTION STASTIOC -->


<button id="scrollToTop" title="Go to top">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square-fill"
    viewBox="0 0 16 16">
    <path
      d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
  </svg>
</button>



<script>
  // Get the button
  let scrollToTopBtn = document.getElementById("scrollToTop");

  // Show or hide the button based on scroll position
  window.onscroll = function () {
    if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
      scrollToTopBtn.style.display = "block"; // Ensure button is shown
      setTimeout(() => {
        scrollToTopBtn.style.opacity = "1"; // Make it visible
        scrollToTopBtn.style.transform = "scale(1)"; // Scale it to normal size
      }, 10); // Slight delay before transitioning
    } else {
      scrollToTopBtn.style.opacity = "0"; // Fade out
      scrollToTopBtn.style.transform = "scale(0.8)"; // Shrink slightly
      setTimeout(() => {
        scrollToTopBtn.style.display = "none"; // Hide after the animation
      }, 500); // Match the duration of the opacity transition
    }
  };

  // Scroll to top function
  scrollToTopBtn.onclick = function () {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  };

</script>

<!--akhir headeer-->
{% endblock %}