<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}| Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    {% include 'cdn.html' %}

</head>

<body>
    {% include 'dashboard/SideBar.html' %}
    {% include 'dashboard/NavDash.html' %}
    {% block content %}
    {% endblock %}






    <script>
        function sign_out() {
            $.removeCookie('tokenuser', { path: '/admin' });

            Swal.fire({
                title: 'Signed Out',
                text: 'You have successfully signed out!',
                icon: 'success',
                confirmButtonText: 'OK',
                timer: 2000,
                timerProgressBar: true,
            }).then(() => {
                window.location.href = '/';
            });
        }

    </script>

</body>