{% extends 'dashboard/BaseDash.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}


<div class="content">
    <div class="container-fluid">
        <div style="display: flex;">
            <div>
                <h2>Dashboard</h2>
                <p class="subtitle">Electronic Medical
                    Record</p>
            </div>
            <div class="mt-1" style="margin-left: auto;">

            </div>
        </div>


        <div class=" row">
            <!-- Cards -->
            <div class="col-md-4 col-sm-12 card-content">
                <div class="card mb-3 shadow">
                    <div class="card-body d-flex align-items-center">
                        <i class="fas fa-user fa-4x"></i>
                        <div class="row">
                            <span>34</span>
                            <span>Pasien</span>
                        </div>
                    </div>
                    <a href="" class="btn btn-primary  w-100">Detail</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 card-content">
                <div class="card mb-3 shadow">
                    <div class="card-body d-flex align-items-center">
                        <i class="fas fa-user fa-4x"></i>
                        <div class="row">
                            <span>23</span>
                            <span>Total Dokter</span>
                        </div>
                    </div>
                    <a href="" class="btn btn-primary  w-100">Detail</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 card-content">
                <div class="card mb-3 shadow">
                    <div class="card-body d-flex align-items-center">
                        <i class="fas fa-user fa-4x"></i>
                        <div class="row">
                            <span>4</span>
                            <span>Rekam Medis</span>
                        </div>
                    </div>
                    <a href="" class="btn btn-primary not-btn  w-100">Detail</a>
                </div>
            </div>


        </div>

        <!-- Table -->

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>ID</th>
                        <th>Nama</th>
                        <th>Tanggal</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- {% if pesanan|length > 0 %}
                    {% for pesanan in pesanan %} -->

                    <tr>
                        <!-- <td>{{ (pagination.page - 1) * pagination.per_page + loop.index }}</td>
                        <td>{{pesanan.customer}}</td>
                        <td>{{pesanan.produk}}</td>
                        <td>{{pesanan.created_at}}</td> -->

                        <td>1</td>
                        <td>Lorem</td>
                        <td></td>
                        <td>1</td>
                    </tr>
                    <!-- {% endfor %}

                    {% else %}
                    <tr>
                        <td colspan="4">Tidak ada data pesanan</td>
                    </tr>

                    {% endif %} -->
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}