{% extends 'dashboard/BaseDash.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}


<div class="content">
    <div class="container-fluid">
        <div class="dashboard-header">
            <div>
                <h2 class="title">Dashboard</h2>
                <p class="subtitle">Sistem Pemetaan Fasilitas Umum Semarang</p>
            </div>
            <div class="mt-1 card">
                <div class="row">
                    <span>{{total_places}}</span>
                    <span>Total Data Facility</span>
                </div>
            </div>
        </div>

        <div class="map-container" style="width: 100%; height: 500px; margin-top: 20px;">
            <iframe src="/static/preview/preview_map.html" width="100%" height="100%" style="border: none;"></iframe>
        </div>



        <!-- Table -->


    </div>
</div>
{% endblock %}